@model List<Employee>

<h1>Çalışanlar</h1>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Ünvanı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Title</td>
                <td>
                    <a asp-controller="Employee" asp-action="Orders" asp-route-id="@employee.EmployeeId">Siparişler</a>
                </td>
            </tr>
        }
    </tbody>
</table>
